---
# roles/docker/tasks/main.yml
- name: Actualizar apt y paquetes básicos
  apt:
    update_cache: yes
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present

- name: Agregar key oficial Docker
  apt_key:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    state: present

- name: Agregar repo Docker
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    state: present

- name: Instalar Docker Engine
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: latest
    update_cache: yes

- name: Añadir usuario al grupo docker
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Habilitar y arrancar docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Ajustar permisos del socket Docker para DooD
  file:
    path: /var/run/docker.sock
    mode: "0666"