[Unit]
Description=Runner manager para runners efímeros GitHub
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5

Environment="GITHUB_ORG={{ github_org }}"
Environment="GITHUB_TOKEN={{ github_token }}"
Environment="RUNNER_IMAGE={{ runner_image }}"
Environment="MIN_RUNNERS={{ min_runners }}"

ExecStart=/bin/bash -c "while true; do \
  RUNNING=$(docker ps --filter \"ancestor=${RUNNER_IMAGE}\" -q | wc -l); \
  RUNNING=$(echo \$RUNNING | tr -d '[:space:]'); \
  [ -z \"\$RUNNING\" ] && RUNNING=0; \
  if [ \$RUNNING -lt ${MIN_RUNNERS} ]; then \
    echo \"[$(date)] Lanzando nuevo runner (actual \$RUNNING < ${MIN_RUNNERS})\"; \
    docker run -d \
      --name runner_$(date +%s) \
      -e GITHUB_ORG=${GITHUB_ORG} \
      -e GITHUB_TOKEN=${GITHUB_TOKEN} \
      -v /var/run/docker.sock:/var/run/docker.sock \
      ${RUNNER_IMAGE}; \
  fi; \
  sleep 5; \
done"

ExecStop=/bin/bash -c "docker ps --filter \"ancestor=${RUNNER_IMAGE}\" -q | xargs -r docker stop"

[Install]
WantedBy=multi-user.target